<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="edu.monash.dao.DeviceInfoDAO">

	<resultMap id="DeviceInfoMap" type="DeviceInfo">
		<id column="id" property="id"/>
		<!-- column是数据库表的列名 , property是对应实体类的属性名 -->
		<result column="device_id" property="deviceId"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="sdk_version" property="sdkVersion"/>
		<result column="sdk_version" property="sdkVersion"/>
		<result column="release_version" property="releaseVersion"/>
		<result column="device_model" property="deviceModel"/>
		<result column="brand" property="brand"/>
		<result column="host" property="host"/>
		<result column="device_name" property="deviceName"/>
		<result column="hardware_name" property="hardwareName"/>
		<result column="language" property="language"/>
		<result column="screen_size" property="screenSize"/>
	</resultMap>

    <select id="selectById" resultType="DeviceInfo" parameterType="int">
        SELECT * FROM device_info WHERE device_id = #{deviceId}
    </select>

    <insert id="insert" parameterType="edu.monash.entity.DeviceInfo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO device_info(
		device_id,
		create_time,
		update_time,
		sdk_version,
		release_version,
		device_model,
		brand,
		host,
		device_name,
		hardware_name,
		language,
		screen_size
		)
		VALUES(
		#{deviceId},
		now(),
		now(),
		#{sdkVersion},
		#{releaseVersion},
		#{deviceModel},
		#{brand},
		#{host},
		#{deviceName},
		#{hardwareName},
		#{language},
		#{screenSize}
		);
	</insert>

	<select id="selectListByGroup" resultMap="DeviceInfoMap">
        select * from device_info
        GROUP BY sdk_version, release_version, device_model, brand
    </select>

	<select id="selectBySdkBrandDeviceName" resultMap="DeviceInfoMap">
        select * from device_info
        WHERE
        	sdk_version = #{sdkVersion}
        and release_version = #{releaseVersion}
        and device_model = #{deviceModel}
        and brand = #{brand}
    </select>

</mapper>